<footer class="pt-4 my-md-5 pt-md-5 border-top blk-footer">
    <div class="row">
      <div class="col-6 col-md blk-footer-links">
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" routerLink='/home'>Home</a></li>
          <li><a class="text-muted" routerLink='/about'>Chi siamo</a></li>
          <li><a class="text-muted" routerLink='/new-order-nologin'>Spedisci</a></li>
        </ul>
      </div>
      <div class="col-6 col-md blk-footer-contacts">
        <h5 class="blk-footer-con-title">Contacts</h5>
        <ul class="list-unstyled text-small">
          <li>IvoMile</li>
          <li>Via Boniolo, 13</li>
          <li>Casorecchio (MI)</li>
          <li>ivo@looser.it</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md">
      <img class="mb-2" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
    <small class="d-block mb-3 text-muted blk-footer-lastline">Ivo Srl P.IVA 123456789 &copy; 2017-2019</small>
      </div>
  </footer>