<footer class="footer">
	<div class="footer-links">
		<p><a href="">Home</a></p>
		<p><a href="">Chi siamo</a></p>
		<p><a href="">Contatti</a></p>
		<p><a href="">FAQ</a></p>
		<p><a href="">Spedizioni</a></p>
	</div>

	<div class="footer-logo">
		<img src="logo_blink.png">
  </div>

		<div class="footer-contacts">
			<p>Socials</p>
			<p>+39 123 4567890</p>
			<p>blinklastmile@gmail.com</p>
		</div>

		<div class="footer-love">
			<p>Fatto con amore al Sondrio C Blink 2019</p>
		</div>

		<div class="footer-bottom">
			<p>Blink Srl P.IVA 1234567890 - Viale Sondrio, 7 - Milano 20124</p>
		</div>

</footer>