<div class="home-page">

<!--	<div class="circleBase type1"></div>-->

	<div class="home-banner">
		<mat-card class="newclient-card">
			Rendi i tuoi clienti finalmente soddisfatti di ricevere i propri acquisti dove e quando vogliono.
			<div class="button-newclient">
				<button mat-raised-button color="accent" class="button-newclient" routerLink="/new-order-nologin">
      Spedisci ora!
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
			</div>
		</mat-card>

		<mat-card class="tracking-card">
			<div class="form-tracking">
				<mat-form-field class="form-tracking-input">
					<input matInput placeholder="Inserisci il numero di tracking">
  </mat-form-field>
					<button mat-fab color="accent" >
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
			</div>
			Inserisci il numero di tracking per vedere a che punto siamo con la tua spedizione
		</mat-card>
	</div>
</div>
