<div class="row blk-nologinorder">


	<!-- Mittente -->
	<form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" >
	<div class="col-md-8 order-md-1 blk-ordernol-form">
		<br>
		<br>
		<h4 class="mb-3">Mittente</h4>
		<hr class="mb-4">


			<div class="row">
				<div class="col-md-8 mb-3">
					<label for="type1">Tipo*</label>
					<select class="custom-select d-block w-100" id="type1" (change)="selectTypeChangeHandler($event)"required>
						<option *ngFor="let type of typeElements" [ngValue]="type">{{type.name}}</option>
					</select>
				</div>
			</div>

			<div *ngIf="selectedType=='Privato'">
				<div class="row">
					<div class="col-md-5 mb-3">
						<label for="usernameprv">Nome</label>
						<input type="text" class="form-control" id="usernameprv" placeholder="Mario" name="usernameprv" ngModel>
						<div class="invalid-feedback" style="width: 100%;">
							Nome richiesto.
						</div>
					</div>

					<div class="col-md-5 mb-3">
						<label for="lastname1">Cognome</label>
						<input type="text" class="form-control" id="lastname1" placeholder="Rossi" name="lastname1" required ngModel>
						<div class="invalid-feedback" style="width: 100%;">
							Your username is required.
						</div>
					</div>
				</div>
			</div>

			<div *ngIf="selectedType=='Azienda/Negozio'">
				<div class="row">
					<div class="col-md-5 mb-3">
						<label for="username">Ragione sociale</label>
						<input type="text" class="form-control" id="username" placeholder="abc Srl" required>
						<div class="invalid-feedback" style="width: 100%;">
							Nome richiesto.
						</div>
					</div>

					<div class="col-md-5 mb-3">
						<label for="fiscalcode">Partita IVA</label>
						<input type="text" class="form-control" id="fiscalcode" placeholder="XXXXXX" required>
						<div class="invalid-feedback" style="width: 100%;">
							Nome richiesto.
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 mb-3">
					<label for="mail">Mail</label>
					<input type="text" class="form-control" id="username" placeholder="mail" required>
					<div class="invalid-feedback" style="width: 100%;">
						Nome richiesto.
					</div>
				</div>

				<div class="col-md-5 mb-3">
					<label for="lastname">Telefono</label>
					<input type="text" class="form-control" id="phone" placeholder="Rossi" required>
					<div class="invalid-feedback" style="width: 100%;">
						Your username is required.
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2 mb-3">
					<label for="address_cap">CAP</label>
					<input type="text" class="form-control" id="address_cap" placeholder="1234 Main St" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>

				<div class="col-md-6 mb-3">
					<label for="address_city">Città</label>
					<input type="text" class="form-control" id="address_city" placeholder="1234 Main St" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>

				<div class="col-md-2 mb-3">
					<label for="address_prov">Provincia</label>
					<input type="text" class="form-control" id="address_prov" placeholder="1234 Main St" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-8 mb-3">
					<label for="address">Via/Piazza</label>
					<input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>

				<div class="col-md-2 mb-3">
					<label for="address">N.</label>
					<input type="text" class="form-control" id="address_n" placeholder="1234 Main St" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-10 mb-3">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="same-address"  (change)="addressIdenticalHandler($event)" checked>
						<label class="custom-control-label" for="same-address">Indirizzo di fatturazione uguale all'indirizzo di ritiro della merce</label>
					</div>
				</div>
			</div>


	</div>

	<!-- Punto di ritiro -->
	<div class="col-md-8 order-md-2 blk-ordernol-form">
		<div *ngIf="addressIdentical==false">
			<h4 class="mb-3">Punto di ritiro</h4>
			<hr class="mb-4">

			<div class="row">
				<div class="col-md-2 mb-3">
					<label for="address_cap">CAP</label>
					<input type="text" class="form-control" id="address_cap" placeholder="1234 Main St" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>

				<div class="col-md-6 mb-3">
					<label for="address_city">Città</label>
					<input type="text" class="form-control" id="address_city" placeholder="1234 Main St" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>

				<div class="col-md-2 mb-3">
					<label for="address_prov">Provincia</label>
					<input type="text" class="form-control" id="address_prov" placeholder="1234 Main St" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-8 mb-3">
					<label for="address">Via/Piazza</label>
					<input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>

				<div class="col-md-2 mb-3">
					<label for="address">N.</label>
					<input type="text" class="form-control" id="address_n" placeholder="1234 Main St" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Destinatario -->
	<div class="col-md-8 order-md-3 blk-ordernol-form">
		<h4 class="mb-3">Destinatario</h4>
		<hr class="mb-4">


			<div class="row">
				<div class="col-md-5 mb-3">
					<label for="type">Tipo*</label>
					<select class="custom-select d-block w-100" id="type" (change)="selectTypeRecvChangeHandler($event)" required>
            <option *ngFor="let type of typeElements">{{type.name}}</option>
          </select>
				</div>
			</div>

			<div *ngIf="selectedTypeRecv=='Privato'">
				<div class="row">
					<div class="col-md-5 mb-3">
						<label for="firstname">Nome</label>
						<input type="text" class="form-control" id="username" placeholder="Mario" required>
						<div class="invalid-feedback" style="width: 100%;">
							Nome richiesto.
						</div>
					</div>

					<div class="col-md-5 mb-3">
						<label for="lastname">Cognome</label>
						<input type="text" class="form-control" id="lastname" placeholder="Rossi" required>
						<div class="invalid-feedback" style="width: 100%;">
							Your username is required.
						</div>
					</div>
				</div>
			</div>

			<div *ngIf="selectedTypeRecv=='Azienda/Negozio'">
				<div class="row">
					<div class="col-md-5 mb-3">
						<label for="firstname">Ragione sociale</label>
						<input type="text" class="form-control" id="username" placeholder="abc Srl" required>
						<div class="invalid-feedback" style="width: 100%;">
							Nome richiesto.
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 mb-3">
					<label for="mail">Mail</label>
					<input type="text" class="form-control" id="username" placeholder="mail" required>
					<div class="invalid-feedback" style="width: 100%;">
						Nome richiesto.
					</div>
				</div>

				<div class="col-md-5 mb-3">
					<label for="lastname">Telefono</label>
					<input type="text" class="form-control" id="phone" placeholder="Rossi" required>
					<div class="invalid-feedback" style="width: 100%;">
						Your username is required.
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-8 mb-3">
					<label for="address">Via/Piazza</label>
					<input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>

				<div class="col-md-2 mb-3">
					<label for="address">N.</label>
					<input type="text" class="form-control" id="address_n" placeholder="1234 Main St" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2 mb-3">
					<label for="address_cap">CAP</label>
					<input type="text" class="form-control" id="address_cap" placeholder="1234 Main St" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>

				<div class="col-md-6 mb-3">
					<label for="address_city">Città</label>
					<input type="text" class="form-control" id="address_city" placeholder="1234 Main St" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>

				<div class="col-md-2 mb-3">
					<label for="address_prov">Provincia</label>
					<input type="text" class="form-control" id="address_prov" placeholder="1234 Main St" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>
			</div>

	</div>


	<!-- Pacco -->
	<div class="col-md-8 order-md-4 blk-ordernol-form">
		<h4 class="mb-3">Pacco</h4>
		<hr class="mb-4">


			<div class="row">
				<div class="col-md-5 mb-3">
					<label for="type">Tipo*</label>
					<select class="custom-select d-block w-100" id="type" (change)="selectTypeRecvChangeHandler($event)" required>
            <option *ngFor="let package of packageElements">{{package.name}}</option>
          </select>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 mb-3">
					<label for="firstname">Altezza</label>
					<input type="text" class="form-control" id="username" placeholder="Mario" required>
					<div class="invalid-feedback" style="width: 100%;">
						Nome richiesto.
					</div>
				</div>

				<div class="col-md-3 mb-3">
					<label for="lastname">Lunghezza</label>
					<input type="text" class="form-control" id="lastname" placeholder="Rossi" required>
					<div class="invalid-feedback" style="width: 100%;">
						Your username is required.
					</div>
				</div>

				<div class="col-md-3 mb-3">
					<label for="lastname">Larghezza</label>
					<input type="text" class="form-control" id="lastname" placeholder="Rossi" required>
					<div class="invalid-feedback" style="width: 100%;">
						Your username is required.
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 mb-3">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="same-address">
						<label class="custom-control-label" for="same-address">Impilabile</label>
					</div>
				</div>

				<div class="col-md-3 mb-3">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="same-address">
						<label class="custom-control-label" for="same-address">Forma irregolare</label>
					</div>
				</div>

				<div class="col-md-3 mb-3">
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="same-address">
						<label class="custom-control-label" for="same-address">Capovolgibile</label>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-9 mb-3">
					<label for="mail">Note</label>
					<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
					<div class="invalid-feedback" style="width: 100%;">
						Nome richiesto.
					</div>
				</div>
			</div>

	</div>


	<!-- Servizio -->
	<div class="col-md-8 order-md-4 blk-ordernol-form">
		<h4 class="mb-3">Servizio</h4>
		<hr class="mb-4">


			<div>
				<div class="row">
					<div class="col-md-2 mb-3">
						<label for="type">Fascia oraria di ritiro</label>
					</div>

					<div class="col-md-4 mb-3">
						<label for="type">Data</label>
						<input type="date" class="form-control" id="lastname" placeholder="Rossi" required>
				  </div>

						<div class="col-md-2 mb-3">
							<label for="type">Dalle</label>
							<select class="custom-select d-block w-100" id="type" required>
            <option *ngFor="let time of timeElements">{{time.name}}</option>
          </select>
						</div>

						<div class="col-md-2 mb-3">
							<label for="type">Alle</label>
							<select class="custom-select d-block w-100" id="type" required>
            <option *ngFor="let time of timeElements">{{time.name}}</option>
          </select>
						</div>
					</div>
				</div>

				<hr class="mb-4">

				<div>
					<div class="row">
						<div class="col-md-2 mb-3">
							<label for="type">Fascia oraria di consegna</label>
						</div>

						<div class="col-md-4 mb-3">
							<label for="type">Data</label>
							<input type="date" class="form-control" id="lastname" placeholder="Rossi" required>
				  </div>

							<div class="col-md-2 mb-3">
								<label for="type">Dalle</label>
								<select class="custom-select d-block w-100" id="type" required>
            <option *ngFor="let time of timeElements">{{time.name}}</option>
          </select>
							</div>

							<div class="col-md-2 mb-3">
								<label for="type">Alle</label>
								<select class="custom-select d-block w-100" id="type" required>
            <option *ngFor="let time of timeElements">{{time.name}}</option>
          </select>
							</div>
						</div>
					</div>

					<hr class="mb-4">


					<div class="row">
						<div class="col-md-3 mb-3">
							<label for="firstname">Altezza</label>
							<input type="text" class="form-control" id="username" placeholder="Mario" required>
							<div class="invalid-feedback" style="width: 100%;">
								Nome richiesto.
							</div>
						</div>

						<div class="col-md-3 mb-3">
							<label for="lastname">Lunghezza</label>
							<input type="text" class="form-control" id="lastname" placeholder="Rossi" required>
							<div class="invalid-feedback" style="width: 100%;">
								Your username is required.
							</div>
						</div>

						<div class="col-md-3 mb-3">
							<label for="lastname">Larghezza</label>
							<input type="text" class="form-control" id="lastname" placeholder="Rossi" required>
							<div class="invalid-feedback" style="width: 100%;">
								Your username is required.
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 mb-3">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="same-address">
								<label class="custom-control-label" for="same-address">Impilabile</label>
							</div>
						</div>

						<div class="col-md-3 mb-3">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="same-address">
								<label class="custom-control-label" for="same-address">Forma irregolare</label>
							</div>
						</div>

						<div class="col-md-3 mb-3">
							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="same-address">
								<label class="custom-control-label" for="same-address">Capovolgibile</label>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-9 mb-3">
							<label for="mail">Note</label>
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
							<div class="invalid-feedback" style="width: 100%;">
								Nome richiesto.
							</div>
						</div>
					</div>
	</div>


	<!-- Pagamento -->
	<div class="col-md-8 order-md-4 blk-ordernol-form">
		<h4 class="mb-3">Pagamento</h4>
		<hr class="mb-4">

			<div class="d-block my-3">
				<div class="custom-control custom-radio">
					<input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
					<label class="custom-control-label" for="credit">Credit card</label>
				</div>
				<div class="custom-control custom-radio">
					<input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
					<label class="custom-control-label" for="debit">Debit card</label>
				</div>
				<div class="custom-control custom-radio">
					<input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
					<label class="custom-control-label" for="paypal">PayPal</label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 mb-3">
					<label for="cc-name">Name on card</label>
					<input type="text" class="form-control" id="cc-name" placeholder="" required>
					<small class="text-muted">Full name as displayed on card</small>
					<div class="invalid-feedback">
						Name on card is required
					</div>
				</div>
				<div class="col-md-6 mb-3">
					<label for="cc-number">Credit card number</label>
					<input type="text" class="form-control" id="cc-number" placeholder="" required>
					<div class="invalid-feedback">
						Credit card number is required
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 mb-3">
					<label for="cc-expiration">Expiration</label>
					<input type="text" class="form-control" id="cc-expiration" placeholder="" required>
					<div class="invalid-feedback">
						Expiration date required
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<label for="cc-cvv">CVV</label>
					<input type="text" class="form-control" id="cc-cvv" placeholder="" required>
					<div class="invalid-feedback">
						Security code required
					</div>
				</div>
			</div>
			<hr class="mb-4">

		</div>

		<input class="btn btn-primary btn-lg btn-block" type="submit" value="Continue to checkout">
	</form>


	<!-- Order recap -->
	<div class="col-md-4 order-md-1 mb-4" id="blk-order-recap">
		<h4 class="d-flex justify-content-between align-items-center mb-3">
			<span class="text-muted">La tua spedizione</span>
		</h4>
		<ul class="list-group mb-3">
			<li class="list-group-item d-flex justify-content-between lh-condensed">
				<div>
					<h6 class="my-0">Product name</h6>
					<small class="text-muted">Brief description</small>
				</div>
				<span class="text-muted">$12</span>
			</li>
			<li class="list-group-item d-flex justify-content-between lh-condensed">
				<div>
					<h6 class="my-0">Second product</h6>
					<small class="text-muted">Brief description</small>
				</div>
				<span class="text-muted">$8</span>
			</li>
			<li class="list-group-item d-flex justify-content-between lh-condensed">
				<div>
					<h6 class="my-0">Third item</h6>
					<small class="text-muted">Brief description</small>
				</div>
				<span class="text-muted">$5</span>
			</li>
			<li class="list-group-item d-flex justify-content-between bg-light">
				<div class="text-success">
					<h6 class="my-0">Promo code</h6>
					<small>EXAMPLECODE</small>
				</div>
				<span class="text-success">-$5</span>
			</li>
			<li class="list-group-item d-flex justify-content-between">
				<span>Total (USD)</span>
				<strong>$20</strong>
			</li>
		</ul>
    <a mat-raised-button color="primary" routerLink="/order-recap-nologin">Ordina</a>

	</div>


</div>
