<div class="row blk-nologinorder">


	<!-- Mittente -->
	<form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" ngNativeValidate class="col-md-12 mb-1">
		<div class="col-md-8 order-md-3 blk-ordernol-form">
			<h4 class="mb-3">Mittente</h4>
			<div class="row">
				<div class="col-md-8 mb-3">
					<label for="paymentCode">Codice Cliente</label>
					<input type="text" class="form-control" id="paymentCode" placeholder="Your secret code" name="paymentCode" [(ngModel)]="delivery.paymentCode" required>
					<small class="text-muted">Bonus code for one delivery order</small>
					<div class="invalid-feedback" style="width: 100%;">
						Your username is required.
					</div>
					<small class="text-muted">Bonus code for one delivery order</small>
				</div>
			</div>
		</div>

		<!-- Destinatario -->
		<div class="col-md-8 order-md-3 blk-ordernol-form">
			<h4 class="mb-3">Destinatario</h4>
			<div class="row">
				<div class="col-md-8 mb-3">
					<label for="type2">Tipo*</label>
					<select class="custom-select d-block w-100" id="type2" (change)="selectTypeChangeHandler($event)" name="type2" [(ngModel)]="delivery.receiver.type" required>
						<option *ngFor="let type of typeElements">{{type.name}}</option>
					</select>
				</div>
			</div>

				<div *ngIf="delivery.receiver.type=='Privato'">
				<div class="row">
					<div class="col-md-5 mb-3">
						<label for="username2">Nome</label>
						<input type="text" class="form-control" id="username2" placeholder="Mario" name="username2" [(ngModel)]="delivery.receiver.name" required>
						<div class="invalid-feedback" style="width: 100%;">
							Nome richiesto.
						</div>
					</div>

					<div class="col-md-5 mb-3">
						<label for="lastname2">Cognome</label>
						<input type="text" class="form-control" id="lastname2" placeholder="Rossi" name="lastname2" [(ngModel)]="delivery.receiver.lastname" required>
						<div class="invalid-feedback" style="width: 100%;">
							Your username is required.
						</div>
					</div>
				</div>
			</div>

			<div *ngIf="delivery.receiver.type=='Azienda/Negozio'">
				<div class="row">
					<div class="col-md-5 mb-3">
						<label for="usernamemerchant2">Ragione sociale</label>
						<input type="text" class="form-control" id="usernamemerchant2" placeholder="abc Srl" name="usernamemerchant2" [(ngModel)]="delivery.receiver.vatNumber" required>
						<div class="invalid-feedback" style="width: 100%;">
							Nome richiesto.
						</div>
					</div>

					<div class="col-md-5 mb-3">
						<label for="fiscalcode_merchant">Partita IVA</label>
						<input type="text" class="form-control" id="fiscalcode_merchant" name="fiscalcode_merchant" placeholder="XXXXXX" [(ngModel)]="delivery.receiver.businessName" required>
						<div class="invalid-feedback" style="width: 100%;">
							Nome richiesto.
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 mb-3">
					<label for="mail">Mail</label>
					<input type="text" class="form-control" id="mail" placeholder="mail" name="mail" [(ngModel)]="delivery.receiver.email" required>
					<div class="invalid-feedback" style="width: 100%;">
						Nome richiesto.
					</div>
				</div>

				<div class="col-md-5 mb-3">
					<label for="phone1">Telefono</label>
					<input type="text" class="form-control" id="phone1" placeholder="Rossi" name="phone1" [(ngModel)]="delivery.receiver.phoneNumber" required>
					<div class="invalid-feedback" style="width: 100%;">
						Your username is required.
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2 mb-3">
					<label for="address_cap1">CAP</label>
					<input type="text" class="form-control" id="address_cap1" name="address_cap1" placeholder="1234 Main St" [(ngModel)]="delivery.receiver.address.cap">
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>

				<div class="col-md-6 mb-3">
					<label for="address_city1">Città</label>
					<input type="text" class="form-control" id="address_city1" name="address_city1" placeholder="1234 Main St" [(ngModel)]="delivery.receiver.address.city" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>

				<div class="col-md-2 mb-3">
					<label for="address_prov1">Provincia</label>
					<input type="text" class="form-control" id="address_prov1" placeholder="1234 Main St" name="address_prov1" [(ngModel)]="delivery.receiver.address.province" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-8 mb-3">
					<label for="address_street">Via/Piazza</label>
					<input type="text" class="form-control" id="address_street" placeholder="1234 Main St" name="address_street" [(ngModel)]="delivery.receiver.address.street" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>

				<div class="col-md-2 mb-3">
					<label for="civic_number">N.</label>
					<input type="text" class="form-control" id="civic_number" placeholder="1234 Main St" name="civic_number" [(ngModel)]="delivery.receiver.address.civicNumber" required>
					<div class="invalid-feedback">
						Please enter your shipping address.
					</div>
				</div>
			</div>
		</div>
		<br>

		<!-- Pacco -->
		<form #myform1 = "ngForm" (ngSubmit)="addParcel(myform1)" >
			<div class="col-md-8 order-md-4 blk-ordernol-form">
				<h4 class="mb-3">Pacco</h4>
				<hr class="mb-4">
					<div class="row">
						<div class="col-md-5 mb-3">
							<label for="type3" matTooltip="Attention we can deliver orders easier than a 55 plasma tv" [matTooltipPosition]="position.value" aria-label="Attention we can deliver orders easier than a 55 plasma tv">Tipo*</label>
							<select class="custom-select d-block w-100" id="type3" (change)="selectTypeRecvChangeHandler($event)" name="type3" [(ngModel)]="tmpParcel.type" required>
								<option *ngFor="let package of packageElements">{{package.name}}</option>
							</select>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 mb-3">
							<label for="weight">Peso</label>
							<input type="text" class="form-control" id="weight" placeholder="weight" name="weight" [(ngModel)]="tmpParcel.weight" required>
							<div class="invalid-feedback" style="width: 100%;">
								Nome richiesto.
							</div>
						</div>

						<div class="col-md-3 mb-3">
							<label for="height">Altezza</label>
							<input type="text" class="form-control" id="height" placeholder="height" name="height" [(ngModel)]="dimension.height" required>
							<div class="invalid-feedback" style="width: 100%;">
								Your username is required.
							</div>
						</div>

						<div class="col-md-3 mb-3">
							<label for="length">Lunghezza</label>
							<input type="text" class="form-control" id="length" placeholder="length" name="length" [(ngModel)]="dimension.depth" required>
							<div class="invalid-feedback" style="width: 100%;">
								Your username is required.
							</div>
						</div>

						<div class="col-md-3 mb-3">
							<label for="width">Larghezza</label>
							<input type="text" class="form-control" id="width" placeholder="width" name="width" [(ngModel)]="dimension.width" required>
							<div class="invalid-feedback" style="width: 100%;">
								Your username is required.
							</div>
						</div>
					</div>

	<!--				<div class="row">-->
	<!--					<div class="col-md-3 mb-3">-->
	<!--						<div class="custom-control custom-checkbox">-->
	<!--							<input type="checkbox" class="custom-control-input" id="stackable">-->
	<!--							<label class="custom-control-label" for="same-address">Impilabile</label>-->
	<!--						</div>-->
	<!--					</div>-->

	<!--					<div class="col-md-3 mb-3">-->
	<!--						<div class="custom-control custom-checkbox">-->
	<!--							<input type="checkbox" class="custom-control-input" id="irregularshape">-->
	<!--							<label class="custom-control-label" for="same-address">Forma irregolare</label>-->
	<!--						</div>-->
	<!--					</div>-->

	<!--					<div class="col-md-3 mb-3">-->
	<!--						<div class="custom-control custom-checkbox">-->
	<!--							<input type="checkbox" class="custom-control-input" id="revertable" >-->
	<!--							<label class="custom-control-label" for="same-address">Capovolgibile</label>-->
	<!--						</div>-->
	<!--					</div>-->
	<!--				</div>-->

					<div class="row">
						<div class="col-md-9 mb-3">
							<label for="description">Note</label>
							<textarea class="form-control" id="description" rows="3" name="width" [(ngModel)]="tmpParcel.description"></textarea>
							<div class="invalid-feedback" style="width: 100%;">
								Nome richiesto.
							</div>
						</div>
					</div>
				<input class="btn btn-primary" type="submit" value="Add">
				</div>

			<br>
			<br>

			<!-- Order recap -->
			<div class="col-md-4 order-md-1 mb-4" id="blk-order-recap">
				<h4 class="col-md-9 mb-3">
					<span class="text-muted">La tua spedizione</span>
				</h4>
				<ul class="list-group mb-3">
					<li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let item of parcel; let i = index">
						<div>
							<h6 class="my-0">
								{{item.description}}  [{{item.weight}} : {{item.dimension.width}} : {{item.dimension.height}} : {{item.dimension.depth}}]
								<button mat-icon-button color="black" (click)="deleteParcel(i)"><mat-icon>delete</mat-icon>
								</button>
							</h6>
						</div>
					</li>
				</ul>
			</div>

		</form>

		<br>

		<!-- Servizio -->
<!--		<div class="col-md-12 order-md-4 blk-ordernol-form">-->
<!--			<h4 class="mb-3">Servizio Urgente</h4>-->
<!--				<hr class="mb-4">-->
<!--				<div>-->
<!--					<div class="row">-->
<!--						<div class="col-md-2 mb-3">-->
<!--							<label>Entro 2 ore</label>-->
<!--						</div>-->

<!--						<div class="col-md-4 mb-3">-->
<!--							<label for="pickupdate">Data</label>-->
<!--							<input type="date" class="form-control" id="pickupdate" placeholder="" name="pickupdate" [(ngModel)]="delivery.pickUpDate" required>-->
<!--						</div>-->

<!--						<div class="col-md-2 mb-3">-->
<!--							<label for="pickUpHourFrom">Dalle</label>-->
<!--							<select class="custom-select d-block w-100" id="pickUpHourFrom" name="pickUpHourFrom" [(ngModel)]="delivery.pickUpHourFrom" required>-->
<!--							<option *ngFor="let time of timeElements">{{time.name}}</option>-->
<!--							</select>-->
<!--						</div>-->

<!--						<div class="col-md-2 mb-3">-->
<!--							<label for="pickUpHourTo">hourTo</label>-->
<!--							<select class="custom-select d-block w-100" id="pickUpHourTo" name="pickUpHourTo" [(ngModel)]="delivery.pickUpHourTo" required>-->
<!--							<option *ngFor="let time of timeElements">{{time.name}}</option>-->
<!--						  </select>-->
<!--						</div>-->
<!--						<div class="col-md-2 mb-3">-->
<!--							<label for="pickUpHourTo">hourTo</label>-->
<!--							<select class="custom-select d-block w-100" id="pickUpHourTo" name="pickUpHourTo" [(ngModel)]="delivery.pickUpHourTo" required>-->
<!--								<option *ngFor="let time of timeElements">{{time.name}}</option>-->
<!--							</select>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->

<!--				<hr class="mb-4">-->
<!--				<div>-->
<!--					<div class="row">-->
<!--						<div class="col-md-2 mb-3">-->
<!--							<label>Fascia oraria di consegna</label>-->
<!--						</div>-->

<!--						<div class="col-md-4 mb-3">-->
<!--							<label for="deliveryDate">Data</label>-->
<!--							<input type="date" class="form-control" id="deliveryDate" placeholder="" name="deliveryDate" [(ngModel)]="delivery.deliveryDate" required>-->
<!--						</div>-->

<!--						<div class="col-md-2 mb-3">-->
<!--							<label for="deliveryHourFrom">Dalle</label>-->
<!--							<select class="custom-select d-block w-100" id="deliveryHourFrom" name="deliveryHourFrom" [(ngModel)]="delivery.deliveryHourFrom" required>-->
<!--								<option *ngFor="let time of timeElements">{{time.name}}</option>-->
<!--							</select>-->
<!--						</div>-->

<!--						<div class="col-md-2 mb-3">-->
<!--							<label for="deliveryHourTo">hourTo</label>-->
<!--							<select class="custom-select d-block w-100" id="deliveryHourTo" name="deliveryHourTo" [(ngModel)]="delivery.deliveryHourTo" required>-->
<!--								<option *ngFor="let time of timeElements">{{time.name}}</option>-->
<!--							</select>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->

<!--				<div class="row">-->
<!--					<div class="col-md-9 mb-3">-->
<!--						<label for="deliveryNote">Note</label>-->
<!--						<textarea class="form-control" id="deliveryNote" rows="3" name="deliveryNote" [(ngModel)]="delivery.deliveryNote"></textarea>-->
<!--						<div class="invalid-feedback" style="width: 100%;">-->
<!--							Nome richiesto.-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--		</div>-->

		<div class="col-md-12 mb-3" style="width: 25%; float:left; height:200px; background:none; margin:10px">
			<h4 class="mb-3">Servizio Urgente</h4>
			<hr class="mb-4">
			<div>
				<div class="row">
					<div class="col-md-6 mb-3">
						<label>Ricevi l'ordine entro 1 ora</label>
					</div>

					<div class="col-md-2 mb-3">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="onehour">
							<label class="custom-control-label" for="onehour">{{oneHourPrice}}</label>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 mb-3">
						<label>Ricevi l'ordine entro 2 ore</label>
					</div>

					<div class="col-md-2 mb-3">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="twohour">
							<label class="custom-control-label" for="twohour">{{twoHourPrice}}</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-9 mb-3">
					<label for="deliveryNoteUrgent">Note</label>
					<textarea class="form-control" id="deliveryNoteUrgent" rows="3" name="deliveryNoteUrgent" [(ngModel)]="delivery.deliveryNoteUrgent"></textarea>
					<div class="invalid-feedback" style="width: 100%;">
						Nome richiesto.
					</div>
				</div>
			</div>
			<div class="row">
				<input class="btn btn-primary btn-lg btn-block" type="submit" value="Continue to checkout" routerLinkActive="/order-recap-nologin">
			</div>
		</div>
		<div class="col-md-12 mb-3" style="width: 25%; float:left; height:200px; background:none; margin:10px">
			<h4 class="mb-3">Servizio Standard</h4>
			<hr class="mb-4">
			<div>
				<div class="row">
					<div class="col-md-6 mb-3">
						<label>Ricevi l'ordine entro 1 ora</label>
					</div>

					<div class="col-md-2 mb-3">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="twoHourInterval">
							<label class="custom-control-label" for="twoHourInterval">{{twoHourIntervalPrice}}</label>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6 mb-3">
						<label>Ricevi l'ordine entro 2 ore</label>
					</div>

					<div class="col-md-2 mb-3">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="fourHourInterval">
							<label class="custom-control-label" for="fourHourInterval">{{fourHourIntervalPrice}}</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-9 mb-3">
					<label for="deliveryNoteInterval">Note</label>
					<textarea class="form-control" id="deliveryNoteInterval" rows="3" name="deliveryNote" [(ngModel)]="delivery.deliveryNoteInterval"></textarea>
					<div class="invalid-feedback" style="width: 100%;">
						Nome richiesto.
					</div>
				</div>
			</div>
			<div class="row">
				<input class="btn btn-primary btn-lg btn-block" type="submit" value="Continue to checkout" routerLinkActive="/order-recap-nologin">
			</div>


		</div>




		<div class="col-md-12 mb-3" style="width: 25%; float:left; height:200px; background:none; margin:10px">
			<h4 class="mb-3">Servizio Casual</h4>
			<hr class="mb-4">
			<div>
				<div class="row">
					<div class="col-md-6 mb-3">
						<label>Ricevi l'ordine entro 1 ora</label>
					</div>

					<div class="col-md-2 mb-3">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="standardDeliveryTime">
							<label class="custom-control-label" for="standardDeliveryTime">{{standardDeliveryTime}}</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 mb-3">
						<label id="lab2"></label>
					</div>

					<div class="col-md-2 mb-3">
						<div class="custom-control custom-checkbox">
							<label id="lab2"></label>
						</div>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-md-9 mb-3">
					<label for="deliveryNoteStandard">Note</label>
					<textarea class="form-control" id="deliveryNoteStandard" rows="3" name="deliveryNote" [(ngModel)]="delivery.deliveryNoteStandard"></textarea>
					<div class="invalid-feedback" style="width: 100%;">
						Nome richiesto.
					</div>
				</div>
			</div>
			<div class="row">
				<input class="btn btn-primary btn-lg btn-block" type="submit" value="Continue to checkout" routerLinkActive="/order-recap-nologin">
			</div>

		</div>
	</form>

</div>
