/******************************************/
/* General                                */
/******************************************/
html {
  font-family: lato!important;
}

/******************************************/
/* Header                                 */
/******************************************/

#blk-header {

}

/******************************************/
/* Footer                                 */
/******************************************/

.blk-footer-links {
  line-height: 30px;
  left: 10%;
  position: absolute;
  width: 50%;
  color: #6c757d!important;
}

.blk-footer-contacts {
  line-height: 30px;
  right: 10%;
  position: absolute;
  width: 50%;
  text-align: right;
  color: #6c757d!important;
}

.blk-footer-lastline {
  width: 100%;
  text-align: center;
}

.blk-footer-con-title {
  color: #000000;
}

.blk-footer {
  background-color: #d9d9d9;
}

